$width : 200px;
.container{
  width: $width;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -$width;
  // left:0;
  top:0;
  bottom: 0;
  background-color: pink;
  transition: left 0.5s;
}
.open{
  left:0;
}
.list{
  list-style: none;
  a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    border-bottom: transparent 3px solid;
    color:#fff;
    &:hover{
      border-bottom-color: #fff;
    }
  }
}
.closeBtn{
  margin-left: auto;
  color:#fff;
  padding: 0.5rem;
}
